<!DOCTYPE html>
<body>
    <h1>Home</h1>
    <main>
        <section>
            {{if .data.profile}}
            <h1>Hello {{.data.profile.first_name}}!</h1>
            {{else}}
            <h1>Hello {{.data.email}}!</h1>
            {{end}}
            {{if .data.posts}}
            <p>Here are your posts:</p>
            {{range $post := .data.posts}}
            <article>
                <h2>{{$post.title}}</h2>
                <p>{{$post.body}}</p>
            </article>
            {{end}}
            {{else}}
            <p>No posts.</p>
            {{end}}
        </section>
    </main>
</body>
</html>